@charset "utf-8";

html, css {
	touch-action: none;
}
html {
	color: #D4332D;
	background-image: url('back.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
body {
	margin:0;
	padding:0;
}
video {
	margin: 0 calc(50% - 50vw);
	width: 100vw;
}
table {
	width: 100vw;
	border-spacing: 0px;
}
.level_btn img {
	margin: 0 calc(50% - 50vw);
	width: 100vw;
}
.sample_play_btn {
	background-image: url(start.png);
	/* width: calc(50vw - 2px); */
	width: 488px;
	height: 286px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}
.sample_play_btn:active{
	background-image: url(start2.png);
}
.sample_pause_btn {
	background-image: url(stop.png);
	/* width: calc(50vw - 2px); */
	width: 488px;
	height: 286px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}
.sample_pause_btn:active{
	background-image: url(stop2.png);
}

@media (min-aspect-ratio: 1/1) {
	html {
		color: #D4332D;
		background-image: url('back.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	body {
		margin: 0;
		padding:0;
		text-align: center;
	}
	video {
		margin: 0 calc(50% - 50vw);
		width: 380px;
	}
	table {
		width: 380px;
		border-spacing: 0px;
		margin: auto;
	}
	.level_btn img {
		margin: 0 calc(50% - 50vw);
		width: 380px;
	}
	.sample_play_btn {
		background-image: url(start.png);
		/* width: calc(50vw - 2px); */
		width: 188px;
		height: 110px;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0;
	}
	.sample_play_btn:active{
		background-image: url(start2.png);
	}
	.sample_pause_btn {
		background-image: url(stop.png);
		/* width: calc(50vw - 2px); */
		width: 188px;
		height: 110px;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0;
	}
	.sample_pause_btn:active{
		background-image: url(stop2.png);
	}
}