@charset "utf-8";

html {
	color: #D4332D;
	background-image: url('back.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
body {
	margin:0;
	padding:0;
}
video {
	margin: 0 calc(50% - 50vw);
	width: 100vw;
	overflow-x: hidden
}
table {
	width: 100vw;
	overflow-x: hidden
}
.level_btn img {
	margin: 0 calc(50% - 50vw);
	width: 100vw;
	overflow-x: hidden
}
.sample_play_btn img {
	margin: 0;
	width: 50vw;
	overflow-x: hidden
}
.sample_pause_btn img {
	margin: 0;
	width: 50vw;
	overflow-x: hidden
}

@media (min-aspect-ratio: 1/1) {
	html {
		color: #D4332D;
		background-image: url('back.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	body {
		margin: 0;
		padding:0;
		text-align: center;
	}
	video {
		margin: 0 calc(50% - 50vw);
		width: 380px;
		overflow-x: hidden;
	}
	table {
		width: 380px;
		overflow-x: hidden;
		margin: auto;
	}
	.level_btn img {
		margin: 0 calc(50% - 50vw);
		width: 380px;
		overflow-x: hidden;
	}
	.sample_play_btn img {
		margin: 0;
		width: 190px;
		overflow-x: hidden;
	}
	.sample_pause_btn img {
		margin: 0;
		width: 190px;
		overflow-x: hidden;
	}
}